<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    title= title
  body
    .container
      .container--topbar
        h3(id="topbar--title") #{appName}
      hr(class="separator")
      .container--body
        h1(class="app--heading") #{appName} has moved.
        p 
          | Please visit
          a(href=link)  #{link} 
          | and bookmark the page for future use of the application.
      .container--action
        button Go to Application

    script.
      document
        .querySelector('.container--action button')
        .addEventListener('click', e => { window.location.href='#{link}'})

  style.
    @font-face {
      font-family: 'GE Inspira Sans';
      src: url('https://github.com/PredixDev/px-design-stencils/blob/master/px_ui_fonts/GE%20Inspira%20Sans/Web%20(multiple%20formats)/WOFF2/GEInspiraSans.woff2?raw=true');
    }
    body {
      background-color: #DFE6EA;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      font-family: "GE Inspira Sans"
    }
    .container {
      background-color: white;
      max-width: 800px;
      min-height: 320px;
      padding-bottom: 2em;
      border: 2px solid #c5c5c5;
    }
    .container--topbar {
      background-color: #0C1419;
      color: #CFDCE6;
      padding: 1em 2em;
    }
    .container--body {
      padding: 1em 2em;
      text-align: left;
    }
    .container--action {
      text-align: center;
    }
    .container--action button {
      background-color: #008FD6;
      color: white;
      margin-top: 1em;
      border: none;
      padding: 0.5em 1.25em;
      font-size: 13px;
    }
    #topbar--title {
      font-weight: lighter;
    }
    .separator {
      background-color: #09819C;
      height: 10px;
      margin-top: 0;
      border: none;
    }
    .app--heading {
      font-weight: 100;
    }
